name: Generate Snake Animation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake (Full Black Theme)
        uses: Platane/snk@v3
        with:
          github_user_name: mediani-mehdi
          outputs: |
            dist/github-snake.svg?palette=github-dark&color_dots=#000000,#0e4429,#006d32,#26a641,#39d353
            dist/github-snake-dark.svg?palette=github-dark&color_dots=#000000,#0e4429,#006d32,#26a641,#39d353

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
